body {
  background-color: #0f0e17;
}

.custom-shape-divider-bottom-1653183514 {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  z-index: -1;
}

.custom-shape-divider-bottom-1653183514 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 285px;
}

.custom-shape-divider-bottom-1653183514 .shape-fill {
  fill: #ff8906;
}

.custom-shape-divider-bottom-1653183658 {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  z-index: -1;
}

.custom-shape-divider-bottom-1653183658 svg {
  position: relative;
  display: block;
  width: calc(131% + 1.3px);
  height: 211px;
}

.custom-shape-divider-bottom-1653183658 .shape-fill {
  fill: #f25f4c;
}

.custom-shape-divider-bottom-1653183730 {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  z-index: -1;
}

.custom-shape-divider-bottom-1653183730 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 95px;
}

.custom-shape-divider-bottom-1653183730 .shape-fill {
  fill: #e53170;
}
